.sourceDiv {
    display: table-cell;
    width: auto;
    height: 100vh;
    padding: 10px;
    border: 1px solid #aaaaaa;
    vertical-align: top;
}

.targetDiv {
    position: relative;
    display: table-cell;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.dashboard-container {
    display: table;
}

.resizable-component {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sourceDiv > div > .container {
    width: auto;
}

.draggable-component > .container {
    width: 100%;
    height: 100%;
}

.draggable-component {
    height: 100%;
}

.resizable-box {
    overflow: hidden;
    background: wheat;
}

.remove {
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
    z-index: 100;
}

.sticky-edit-div {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    text-align: right;
    z-index: 1;
    padding: 10px;
}

.sticky-source-content {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index: 1;
}